body
{
font-family: 'Lato', sans-serif;
margin: 0;
background:#ffffff; 
user-select:none;
}
.nav-bar
{
background-color:#2979FF;
width: 100%;
padding:16px;
color:#fff; 
text-align: center;
font-size:32px;
    
}
.nav-items
{
background-color:#2979FF;
width:100%;

}
.active{
     
       border-bottom:4px solid #FF9800;
}
.items-list{
    list-style: none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.items{
    float: left;
}
a{
    text-decoration: none;
    
}
.item-link{
    color:#fff;
    padding:14px 16px;
    display: block;
    text-align: center;
}

h1{
    color:#2979FF;
}


#quiz-header,#quiz-start{
    text-align: center;
}

#quiz-start{
    background:#2979FF;
    padding: 16px 32px;
    border-radius: 5px;
    color:#000;
}

.faded{
    font-family:'Roboto';
    text-align: center;
    text-transform:uppercase;
    color:#777;
    
}
&:hover {
    cursor:pointer;
}
.button-container{
    width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
#quiz-start:active{
    background:#00E676;
}


a{
    text-decoration: none;
}
.start{
    color: #fff;
}
