body
{
font-family: sans-serif;
margin: 0px;
background:#0c1514; 
}
.nav-bar
{
background-color:#263238;
width: 100%;
padding:16px;
color:#fff; 
text-align: center;
    
}
.nav-items
{
background-color:#009688;
width:100%;

}
.active{
      background-color:#455A64;
}
.items-list{
    list-style: none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.items{
    float: left;
}
a{
    text-decoration: none;
    
}
.item-link{
    color:#fff;
    padding:14px 16px;
    display: block;
    text-align: center;
}
.item-link:hover{
    background-color:#455A64;
}
h1{
    color:#63c5bc;
}


#quiz-header,#quiz-start{
    text-align: center;
}

#quiz-start{
    
    background: #3498db;
    width:180px;
    padding: 4px 0;
    position:absolute;
    left:50%;
    top:auto;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
}
.faded{
    font-family:'Roboto';
    text-align: center;
    text-transform:uppercase;
    color: #fff;
    user-select:none;
        color:#777;
    
}
&:hover {
    cursor:pointer;
}
.button-container{
    margin-top: 10%;
}
#quiz-start:active{
    background:#090;
}
a{
    text-decoration: none;
}
.start{
    color: #fff;
}